<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h1>Change Password</h1>
        <hr>
        <error-list [error]="error"></error-list>
        <form (ngSubmit)="passChange()" [formGroup]="passwordChangeForm">
            <fieldset [disabled]="isSubmitting">
                <fieldset class="form-group">
                    <div class="form-group">

                        <label for="OldPassword">Old Password</label>
                        <input type="password"  class="form-control" id="OldPassword"
                                formControlName="oldPassword" placeholder="Old Password">

                        <label for="NewPassword">New Password</label>

                        <input type="password" class="form-control"
                               id="NewPassword" placeholder="New Password" formControlName="newPassword"
                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
                               <p *ngIf="!passwordChangeForm.controls.newPassword.valid && passwordChangeForm.controls.newPassword.touched">*Minimum 6 chracters(Alphabets,Numeric
                            digits,Special
                            Symbols)</p>
                         <label for="ConfirmPassword">Confirm Password</label>

                        <input type="password" class="form-control"
                               id="ConfirmPassword" placeholder="Confirm Password" formControlName="confirmPassword">   
                               <p *ngIf="passwordChangeForm.controls.confirmPassword.errors?.equalTo && !passwordChangeForm.controls.confirmPassword.pristine">Passwords don't match</p>        
                    </div>

                    <button type="submit" class="btn btn-primary" [disabled]="!passwordChangeForm.valid">Change Password</button>
                </fieldset>
            </fieldset>
        </form>
    </div>
</div>
