<style>
    .cs {
        margin-left: 20%;
        margin-right: auto;
        width: 60%;
        box-shadow: 10px 10px 10px white;
    }
</style>

<div class="col-md-12 cs">
    <h1>Reset your Password</h1>
    <hr>
    <form (ngSubmit)="onReset()" [formGroup]="resetForm">
        <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
                <div class="form-group">
                    <label for="InputPassword">Password</label>

                    <input type="password" class="form-control" id="InputPassword" placeholder="Password"
                           formControlName="newPassword"
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{6,}">
                    <div>
                        <small id="passwordHelp" class="form-text text-muted">
                            <p *ngIf="!resetForm.controls.newPassword.valid && resetForm.controls.newPassword.touched">*Minimum 6 chracters(Alphabets,Numeric
                            digits,Special
                            Symbols)</p>
                        </small>
                    </div>

                    <label for="confirmInputPassword">Confirm Password</label>

                    <input type="Password" class="form-control" id="confirmInputPassword" placeholder="Confirm Password"
                           formControlName="confirmPassword">
                    <p *ngIf="resetForm.controls.confirmPassword.errors?.equalTo && !resetForm.controls.confirmPassword.pristine">Passwords don't match</p>

                </div>
                <button type="submit" [disabled]="!(resetForm.valid)" class="btn btn-primary">Submit</button>
            </fieldset>
        </fieldset>
    </form>
</div>
    
   
